
body{
	background-image: url("bodybg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
marquee{
	height: 50px;
	padding-top: 30px;
	font-size: 30px;
}
h1{
	padding-top: 100px;
}
h1,h2{
	text-align: center;
}
